<%- include("./partials/header.ejs"); %>

<h1>Index Page</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="http://www.notebookcheck.net/fileadmin/_processed_/csm_Lenovo_Legion_Y520_6_a1495ae7b3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lenovo Y520</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="price float-left">$1099</p>
                  <a href="#" class="btn btn-success btn-sm float-right">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://lenardgunda.blob.core.windows.net/lgc/2019/01/P8150642.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Y530</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="price float-left">$1099</p>
                    <a href="#" class="btn btn-success btn-sm float-right">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="http://www.notebookcheck.net/fileadmin/_processed_/csm_Lenovo_Legion_Y520_6_a1495ae7b3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lenovo Y520</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="price float-left">$1099</p>
                  <a href="#" class="btn btn-success btn-sm float-right">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="http://www.notebookcheck.net/fileadmin/_processed_/csm_Lenovo_Legion_Y520_6_a1495ae7b3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lenovo Y520</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="price float-left">$1099</p>
                  <a href="#" class="btn btn-success btn-sm float-right">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://lenardgunda.blob.core.windows.net/lgc/2019/01/P8150642.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lenovo Y530</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="price float-left">$1099</p>
                    <a href="#" class="btn btn-success btn-sm float-right">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="http://www.notebookcheck.net/fileadmin/_processed_/csm_Lenovo_Legion_Y520_6_a1495ae7b3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lenovo Y520</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="price float-left">$1099</p>
                  <a href="#" class="btn btn-success btn-sm float-right">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs"); %>